In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

/anaconda3/envs/python36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/envs/python36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
#!which chromedriver

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/field-goals/sort/fieldGoalPct/'
#browser.visit(url)

for x in range(1, 9):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    stats = soup.find_all('tr')
    for stat in stats:
        print(stat)
        print("----")

In [4]:
tables = pd.read_html(url)
tables

[     0                     1      2     3     4     5     6     7     8    9   \
 0   NaN              PER GAME  TOTAL   NaN   ADJ   NaN   NaN   NaN   NaN  NaN
 1    RK                  TEAM     GP   PPG   FGM   FGA   FGM   FGA   FG%  2PM
 2     1               Gonzaga     33  88.8  32.2  60.5  1062  1997  .532  805
 3     2    South Dakota State     32  84.9  29.9  59.4   957  1901  .503  639
 4   NaN                Dayton     32  72.9  27.3  54.2   872  1734  .503  672
 5     4               Belmont     31  87.4  31.8  63.7   987  1976  .499  662
 6   NaN      Georgia Southern     33  82.6  30.7  61.5  1012  2028  .499  808
 7     6             Tennessee     33  82.3  30.0  60.2   991  1988  .498  766
 8     7               Montana     34  76.8  28.1  56.6   955  1923  .497  674
 9     8          Murray State     31  83.3  30.3  61.0   938  1890  .496  696
 10    9                  Yale     28  80.6  29.8  60.3   834  1687  .494  617
 11   10        Loyola-Chicago     33  65.8  24.4  49.5   805  1632  .493  604
 12  NaN              PER GAME  TOTAL   NaN   ADJ   NaN   NaN   NaN   NaN  NaN
 13   RK                  TEAM     GP   PPG   FGM   FGA   FGM   FGA   FG%  2PM
 14  NaN               Wofford     33  83.0  30.2  61.3   997  2022  .493  633
 15   12               Liberty     34  74.0  27.1  55.2   921  1878  .490  621
 16   13        Michigan State     33  79.2  27.9  57.2   922  1889  .488  649
 17  NaN          Gardner-Webb     34  78.3  27.4  56.2   933  1912  .488  661
 18  NaN               Hofstra     34  83.6  28.6  58.5   971  1990  .488  670
 19   16  East Tennessee State     33  79.2  29.4  60.6   971  2001  .485  710
 20  NaN           Utah Valley     33  77.2  26.6  54.9   879  1812  .485  611
 21   18           Little Rock     31  74.2  26.4  54.4   817  1687  .484  611
 22   19            Charleston     33  74.3  26.6  55.1   878  1818  .483  651
 23  NaN              Lipscomb     32  83.4  29.1  60.2   930  1926  .483  650
 24  NaN              PER GAME  TOTAL   NaN   ADJ   NaN   NaN   NaN   NaN  NaN
 25   RK                  TEAM     GP   PPG   FGM   FGA   FGM   FGA   FG%  2PM
 26   21          Northeastern     33  76.1  26.2  54.3   864  1791  .482  542
 27  NaN                Lehigh     31  80.0  27.6  57.3   856  1775  .482  569
 28  NaN             Creighton     32  78.8  28.2  58.4   901  1870  .482  553
 29   24     Northern Kentucky     34  79.1  28.1  58.4   956  1986  .481  655
 30  NaN     Purdue Fort Wayne     33  82.7  30.0  62.4   991  2059  .481  631
 31   26     Boston University     33  72.3  27.9  58.2   922  1922  .480  701
 32  NaN               Colgate     34  75.8  27.4  57.0   930  1939  .480  625
 33   28              Kentucky     33  76.7  26.6  55.6   878  1835  .478  679
 34  NaN              Virginia     32  71.8  25.6  53.6   820  1715  .478  549
 35  NaN   Fairleigh Dickinson     33  75.4  26.5  55.6   876  1834  .478  622
 36  NaN              PER GAME  TOTAL   NaN   ADJ   NaN   NaN   NaN   NaN  NaN
 37   RK                  TEAM     GP   PPG   FGM   FGA   FGM   FGA   FG%  2PM
 38   31                  Duke     34  83.5  30.5  63.9  1037  2173  .477  790
 39  NaN            Iowa State     34  77.4  28.0  58.6   951  1994  .477  663
 40   33        Colorado State     32  74.8  27.1  56.8   866  1818  .476  607
 41  NaN                Furman     32  77.9  28.3  59.4   904  1900  .476  574
 42  NaN           Weber State     33  79.3  27.9  58.6   920  1934  .476  671
 43   36         Virginia Tech     32  74.0  25.8  54.2   824  1733  .475  517
 44  NaN                 Omaha     32  78.8  29.7  62.4   950  1998  .475  668
 45   38        William & Mary     31  74.9  27.1  57.2   841  1773  .474  587
 46  NaN              American     30  72.0  26.0  54.8   780  1645  .474  590
 47  NaN     Abilene Christian     33  74.5  26.7  56.3   880  1858  .474  634

       10    11    12    13
 0    NaN   NaN   NaN   NaN
 1    2PA   2P%   PPS   FG%
 2   1293  .623  1.47  .596
 3   1125  .568  1.43  .587
 4   1135  .592  1.35  .561
 5   1105  .599  1.37  .582
 6   1396  .579  1.34  .549
 7   1359  .564  1.37  .555
 8   1184  .569  1.36  .570
 9   1195  .582  1.37  .560
 10  1101  .560  1.34  .559
 11  1083  .558  1.33  .555
 12   NaN   NaN   NaN   NaN
 13   2PA   2P%   PPS   FG%
 14  1148  .551  1.35  .583
 15  1061  .585  1.34  .570
 16  1177  .551  1.38  .560
 17  1216  .544  1.39  .559
 18  1216  .551  1.43  .564
 19  1276  .556  1.31  .550
 20  1115  .548  1.41  .559
 21  1105  .553  1.36  .545
 22  1151  .566  1.35  .545
 23  1171  .555  1.39  .556
 24   NaN   NaN   NaN   NaN
 25   2PA   2P%   PPS   FG%
 26   961  .564  1.40  .572
 27  1096  .519  1.40  .563
 28   987  .560  1.35  .575
 29  1163  .563  1.35  .557
 30  1110  .568  1.32  .569
 31  1283  .546  1.24  .537
 32  1153  .542  1.33  .558
 33  1288  .527  1.38  .533
 34  1052  .522  1.34  .557
 35  1205  .516  1.36  .547
 36   NaN   NaN   NaN   NaN
 37   2PA   2P%   PPS   FG%
 38  1355  .583  1.31  .534
 39  1205  .550  1.32  .549
 40  1096  .554  1.32  .548
 41   992  .579  1.31  .563
 42  1250  .537  1.35  .540
 43   954  .542  1.37  .564
 44  1279  .522  1.26  .546
 45  1038  .566  1.31  .546
 46  1061  .556  1.31  .532
 47  1221  .519  1.32  .540  ]

In [5]:
df = tables[0]
#
#new_header = df.iloc[0] #grab the first row for the header
#df = df[2:] #take the data less the header row
#df.columns = new_header #set the header row as the df header
#df.keys()

In [6]:
count = 41

stats_hold = []
stats_df = pd.DataFrame()

In [7]:
for x in range(0,8):
    urlb= f'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/field-goals/sort/fieldGoalPct/count/{count}'
    test = pd.read_html(urlb)
    stats_hold.append(test)
   # hold = test[1:0]
    count = count + 40

In [8]:
pandas = df[2:].values.tolist()
pandas
TEAM = []
GP = []
PPG = []
FGMg = []
FGAg = []
FGMt = []
FGAt = []
FGperc = []
twoPM = []
twoPA = []
twoPperc = []
PPS = []
FGpercA  = []
for panda in pandas:
    print(panda[1])
    TEAM.append(panda[1])
    GP.append(panda[2])
    PPG.append(panda[3])
    FGMg.append(panda[4])
    FGAg.append(panda[5])
    FGMt.append(panda[6])
    FGAt.append(panda[7])
    FGperc.append(panda[8])
    twoPM.append(panda[9])
    twoPA.append(panda[10])
    twoPperc.append(panda[11])
    PPS.append(panda[12])
    FGpercA.append(panda[13])

Gonzaga
South Dakota State
Dayton
Belmont
Georgia Southern
Tennessee
Montana
Murray State
Yale
Loyola-Chicago
PER GAME
TEAM
Wofford
Liberty
Michigan State
Gardner-Webb
Hofstra
East Tennessee State
Utah Valley
Little Rock
Charleston
Lipscomb
PER GAME
TEAM
Northeastern
Lehigh
Creighton
Northern Kentucky
Purdue Fort Wayne
Boston University
Colgate
Kentucky
Virginia
Fairleigh Dickinson
PER GAME
TEAM
Duke
Iowa State
Colorado State
Furman
Weber State
Virginia Tech
Omaha
William & Mary
American
Abilene Christian

In [9]:
#stats = pd.DataFrame(columns=['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%'])
#TEAM = []
#GP = []
#PPG = []
#FGMg = []
#FGAg = []
#FGMt = []
#FGAt = []
#FGperc = []
#twoPM = []
#twoPA = []
#twoPperc = []
#PPS = []
#FGpercA  = []
for x in stats_hold[0:]:

    #print(x)
    
    
    for y in x :
        #print(y.values.tolist())
        orange = y.values.tolist()[2:]
        
        #print(type(orange))
        #print(orange[1:])
        #print(len(orange))
        for tw in orange:
            print(tw[1:])
            TEAM.append(tw[1:][0])
            GP.append(tw[1:][1])
            PPG.append(tw[1:][2])
            FGMg.append(tw[1:][3])
            FGAg.append(tw[1:][4])
            FGMt.append(tw[1:][5])
            FGAt.append(tw[1:][6])
            FGperc.append(tw[1:][7])
            twoPM.append(tw[1:][8])
            twoPA.append(tw[1:][9])
            twoPperc.append(tw[1:][10])
            PPS.append(tw[1:][11])
            FGpercA.append(tw[1:][12])
            
            

        print("------------")

['Utah State', '34', '79.2', '27.6', '58.4', '940', '1985', '.474', '673', '1233', '.546', '1.36', '.541']
["Saint Mary's", '33', '72.9', '26.5', '56.1', '876', '1850', '.474', '631', '1202', '.525', '1.30', '.540']
['UMass Lowell', '32', '76.8', '27.3', '57.9', '875', '1852', '.472', '629', '1131', '.556', '1.33', '.539']
['Austin Peay', '33', '82.2', '29.5', '62.4', '973', '2060', '.472', '705', '1358', '.519', '1.32', '.537']
['Samford', '33', '78.3', '27.9', '59.1', '921', '1951', '.472', '667', '1264', '.528', '1.32', '.537']
['Mississippi State', '33', '77.3', '27.6', '58.5', '911', '1930', '.472', '627', '1178', '.532', '1.32', '.546']
['Richmond', '33', '70.1', '25.7', '54.5', '849', '1800', '.472', '598', '1077', '.555', '1.29', '.541']
['Texas Tech', '32', '73.1', '26.2', '55.5', '837', '1775', '.472', '605', '1144', '.529', '1.32', '.537']
['Northern Illinois', '34', '73.7', '27.6', '58.7', '940', '1995', '.471', '711', '1353', '.525', '1.26', '.529']
['Drake', '33', '75.5', '26.7', '56.6', '880', '1868', '.471', '607', '1118', '.543', '1.33', '.544']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Ball State', '33', '75.1', '26.9', '57.3', '889', '1892', '.470', '687', '1271', '.541', '1.31', '.523']
['Boise State', '33', '71.6', '25.6', '54.6', '845', '1801', '.469', '593', '1086', '.546', '1.31', '.539']
['Xavier', '33', '71.9', '26.1', '55.8', '862', '1843', '.468', '631', '1149', '.549', '1.29', '.530']
['BYU', '32', '79.0', '27.4', '58.7', '878', '1878', '.468', '652', '1194', '.546', '1.35', '.528']
['Southern Miss', '32', '72.7', '27.4', '58.6', '877', '1876', '.467', '612', '1193', '.513', '1.24', '.538']
['San Francisco', '31', '76.1', '27.9', '59.7', '864', '1851', '.467', '606', '1124', '.539', '1.27', '.536']
['DePaul', '30', '76.9', '27.6', '59.1', '827', '1772', '.467', '624', '1183', '.527', '1.30', '.524']
['Southern Illinois', '32', '68.6', '25.1', '53.8', '802', '1720', '.466', '589', '1150', '.512', '1.28', '.528']
['Incarnate Word', '31', '65.9', '22.9', '49.3', '711', '1527', '.466', '537', '1019', '.527', '1.34', '.523']
['Georgia State', '32', '77.2', '27.0', '58.1', '865', '1858', '.466', '549', '1044', '.526', '1.33', '.551']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Nevada', '33', '80.7', '27.4', '58.9', '905', '1944', '.466', '613', '1113', '.551', '1.37', '.541']
['Oakland', '33', '76.7', '26.2', '56.3', '863', '1858', '.464', '549', '1042', '.527', '1.36', '.549']
['North Dakota', '30', '74.0', '27.4', '59.0', '822', '1771', '.464', '581', '1124', '.517', '1.25', '.532']
['Utah', '31', '75.6', '26.0', '56.0', '805', '1735', '.464', '507', '929', '.546', '1.35', '.550']
['North Carolina', '33', '86.1', '31.0', '66.9', '1023', '2207', '.464', '734', '1416', '.518', '1.29', '.529']
['UCF', '31', '72.1', '24.7', '53.3', '765', '1652', '.463', '554', '1056', '.525', '1.35', '.527']
['Oregon State', '31', '73.4', '25.8', '55.7', '800', '1728', '.463', '597', '1095', '.545', '1.32', '.522']
['Buffalo', '34', '84.9', '30.4', '65.7', '1033', '2234', '.462', '708', '1265', '.560', '1.29', '.535']
['Holy Cross', '33', '67.2', '25.7', '55.6', '848', '1834', '.462', '611', '1164', '.525', '1.21', '.527']
['CSU Northridge', '33', '76.3', '28.4', '61.4', '936', '2025', '.462', '709', '1405', '.505', '1.24', '.518']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Northern Colorado', '32', '76.6', '26.5', '57.4', '849', '1837', '.462', '542', '988', '.549', '1.33', '.546']
['Kansas', '34', '75.4', '27.3', '59.1', '928', '2008', '.462', '682', '1306', '.522', '1.28', '.523']
['Jacksonville State', '33', '78.0', '28.9', '62.5', '953', '2063', '.462', '753', '1429', '.527', '1.25', '.510']
['LSU', '32', '81.4', '28.5', '61.7', '912', '1975', '.462', '693', '1297', '.534', '1.32', '.517']
['Radford', '33', '73.9', '27.1', '58.7', '893', '1938', '.461', '608', '1187', '.512', '1.26', '.534']
['South Alabama', '34', '72.9', '25.5', '55.4', '867', '1883', '.460', '582', '1122', '.519', '1.32', '.536']
['Drexel', '32', '75.8', '27.3', '59.4', '874', '1900', '.460', '637', '1231', '.517', '1.28', '.522']
['USC', '33', '76.3', '28.4', '61.8', '937', '2039', '.460', '656', '1304', '.503', '1.23', '.528']
['Sacred Heart', '32', '79.9', '27.7', '60.2', '885', '1926', '.460', '642', '1245', '.516', '1.33', '.523']
['UIC', '32', '74.7', '27.0', '58.8', '865', '1883', '.459', '562', '1027', '.547', '1.27', '.540']
------------
['Ole Miss', '32', '75.4', '26.5', '57.6', '847', '1844', '.459', '586', '1115', '.526', '1.31', '.530']
['San Diego', '35', '72.3', '25.5', '55.5', '892', '1942', '.459', '618', '1158', '.534', '1.30', '.530']
['UC Irvine', '35', '72.9', '27.0', '58.8', '945', '2058', '.459', '707', '1398', '.506', '1.24', '.517']
['Indiana', '32', '71.5', '26.2', '57.0', '838', '1825', '.459', '645', '1210', '.533', '1.25', '.512']
['North Carolina A&T', '32', '70.0', '25.8', '56.2', '825', '1797', '.459', '598', '1148', '.521', '1.25', '.522']
['New Mexico State', '34', '78.1', '27.6', '60.0', '937', '2041', '.459', '618', '1089', '.567', '1.30', '.537']
['Delaware', '33', '71.3', '25.2', '54.8', '830', '1808', '.459', '548', '1062', '.516', '1.30', '.537']
['Loyola (MD)', '32', '72.9', '26.3', '57.4', '842', '1836', '.459', '632', '1220', '.518', '1.27', '.516']
['Marquette', '33', '77.7', '26.3', '57.4', '869', '1895', '.459', '558', '1104', '.505', '1.35', '.541']
['Vermont', '33', '73.9', '25.5', '55.6', '841', '1834', '.459', '584', '1105', '.529', '1.33', '.529']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['TCU', '33', '74.1', '26.8', '58.7', '886', '1936', '.458', '632', '1214', '.521', '1.26', '.523']
['NC State', '33', '79.6', '29.2', '63.8', '964', '2107', '.458', '695', '1346', '.516', '1.25', '.521']
['Harvard', '28', '71.0', '25.2', '55.0', '705', '1541', '.457', '465', '894', '.520', '1.29', '.535']
['Loyola Marymount', '31', '67.5', '24.0', '52.5', '744', '1627', '.457', '598', '1167', '.512', '1.29', '.502']
['UCLA', '33', '78.2', '27.8', '61.0', '919', '2012', '.457', '663', '1291', '.514', '1.28', '.520']
['CSU Fullerton', '33', '72.1', '25.8', '56.4', '850', '1861', '.457', '668', '1291', '.517', '1.28', '.506']
['Colorado', '33', '73.9', '25.8', '56.5', '852', '1866', '.457', '640', '1212', '.528', '1.31', '.513']
['UNC Greensboro', '34', '76.0', '27.6', '60.6', '940', '2059', '.457', '677', '1296', '.522', '1.26', '.520']
['Lamar', '33', '78.7', '27.3', '59.9', '902', '1976', '.456', '674', '1312', '.514', '1.31', '.514']
['Houston Baptist', '30', '82.2', '28.8', '63.2', '865', '1896', '.456', '665', '1308', '.508', '1.30', '.509']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['North Dakota State', '33', '73.2', '25.1', '55.0', '828', '1816', '.456', '513', '955', '.537', '1.33', '.543']
['Montana State', '32', '78.2', '26.8', '58.8', '858', '1882', '.456', '552', '1064', '.519', '1.33', '.537']
['Campbell', '32', '75.8', '26.3', '57.6', '840', '1843', '.456', '533', '951', '.560', '1.32', '.539']
['North Carolina Central', '33', '71.4', '25.8', '56.5', '850', '1865', '.456', '638', '1193', '.535', '1.26', '.513']
['Oral Roberts', '32', '72.3', '26.7', '58.6', '854', '1874', '.456', '588', '1140', '.516', '1.23', '.527']
['Winthrop', '30', '83.3', '28.5', '62.6', '855', '1878', '.455', '483', '881', '.548', '1.33', '.554']
['Jacksonville', '32', '74.5', '27.8', '61.0', '889', '1953', '.455', '676', '1308', '.517', '1.22', '.510']
['Hartford', '33', '75.1', '25.7', '56.5', '848', '1863', '.455', '526', '1017', '.517', '1.33', '.542']
['Iowa', '33', '78.3', '26.1', '57.4', '862', '1894', '.455', '595', '1155', '.515', '1.36', '.526']
['Toledo', '32', '77.3', '27.4', '60.4', '878', '1933', '.454', '562', '1102', '.510', '1.28', '.536']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Maryland', '32', '71.3', '25.2', '55.5', '807', '1777', '.454', '575', '1120', '.513', '1.28', '.519']
['Western Carolina', '32', '72.0', '24.8', '54.5', '792', '1744', '.454', '496', '944', '.525', '1.32', '.539']
['Appalachian State', '32', '79.9', '27.5', '60.6', '880', '1938', '.454', '588', '1124', '.523', '1.32', '.529']
["St. John's", '33', '77.5', '27.9', '61.5', '922', '2031', '.454', '641', '1253', '.512', '1.26', '.523']
['Fresno State', '32', '76.5', '26.5', '58.3', '847', '1866', '.454', '505', '969', '.521', '1.31', '.546']
['Central Michigan', '34', '82.6', '28.2', '62.1', '959', '2113', '.454', '665', '1320', '.504', '1.33', '.523']
['Grand Canyon', '33', '75.7', '26.7', '58.9', '882', '1944', '.454', '634', '1196', '.530', '1.28', '.518']
['Pennsylvania', '31', '72.6', '26.5', '58.4', '821', '1810', '.454', '539', '1007', '.535', '1.24', '.531']
['UAB', '34', '70.4', '25.9', '57.0', '879', '1938', '.454', '652', '1263', '.516', '1.23', '.512']
['UC Santa Barbara', '32', '73.4', '25.8', '56.8', '825', '1819', '.454', '621', '1225', '.507', '1.29', '.510']
------------
['Iona', '32', '76.8', '26.1', '57.6', '835', '1842', '.453', '553', '1038', '.533', '1.33', '.530']
['Stanford', '31', '72.7', '26.1', '57.5', '808', '1783', '.453', '601', '1130', '.532', '1.26', '.511']
['Wisconsin', '33', '69.1', '25.9', '57.1', '854', '1885', '.453', '619', '1243', '.498', '1.21', '.515']
['Green Bay', '33', '80.4', '28.6', '63.2', '944', '2084', '.453', '687', '1327', '.518', '1.27', '.515']
['IUPUI', '32', '76.1', '26.9', '59.5', '862', '1904', '.453', '636', '1236', '.515', '1.28', '.512']
['Florida Gulf Coast', '32', '71.3', '25.3', '55.8', '809', '1787', '.453', '540', '1063', '.508', '1.28', '.528']
['Washington', '34', '69.8', '24.6', '54.3', '835', '1845', '.453', '581', '1111', '.523', '1.29', '.521']
['Clemson', '32', '69.0', '24.7', '54.6', '791', '1748', '.453', '584', '1119', '.522', '1.26', '.512']
['Columbia', '28', '73.5', '27.8', '61.4', '778', '1720', '.452', '541', '1065', '.508', '1.20', '.521']
['Memphis', '34', '80.6', '28.2', '62.3', '958', '2119', '.452', '706', '1344', '.525', '1.29', '.512']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Dartmouth', '30', '72.0', '26.4', '58.3', '791', '1750', '.452', '527', '1029', '.512', '1.23', '.527']
['UL Monroe', '33', '78.3', '25.9', '57.3', '854', '1890', '.452', '524', '1055', '.497', '1.37', '.539']
['Air Force', '32', '68.1', '25.1', '55.5', '802', '1776', '.452', '568', '1065', '.533', '1.23', '.517']
['Missouri State', '32', '68.9', '24.2', '53.6', '774', '1714', '.452', '550', '1065', '.516', '1.29', '.517']
['Michigan', '33', '70.7', '25.9', '57.4', '855', '1894', '.451', '589', '1137', '.518', '1.23', '.522']
["Hawai'i", '31', '72.3', '25.4', '56.3', '788', '1746', '.451', '522', '995', '.525', '1.28', '.527']
['Mercer', '31', '72.5', '25.4', '56.3', '787', '1746', '.451', '559', '1083', '.516', '1.29', '.516']
['California Baptist', '30', '78.3', '27.2', '60.4', '816', '1812', '.450', '536', '1034', '.518', '1.30', '.528']
['McNeese', '30', '68.6', '24.2', '53.7', '725', '1610', '.450', '565', '1084', '.521', '1.28', '.500']
['Valparaiso', '33', '66.8', '24.3', '54.0', '802', '1783', '.450', '617', '1198', '.515', '1.24', '.502']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Presbyterian', '32', '78.6', '26.9', '59.8', '860', '1912', '.450', '513', '1000', '.513', '1.31', '.541']
['Coastal Carolina', '31', '76.3', '25.7', '57.2', '797', '1772', '.450', '548', '1092', '.502', '1.33', '.520']
['Bucknell', '33', '76.8', '26.3', '58.4', '867', '1928', '.450', '556', '1043', '.533', '1.31', '.530']
['Troy', '30', '72.6', '25.8', '57.3', '773', '1719', '.450', '537', '1015', '.529', '1.27', '.518']
['Texas Southern', '34', '80.0', '27.7', '61.6', '942', '2095', '.450', '694', '1324', '.524', '1.30', '.509']
['Oregon', '35', '70.5', '25.3', '56.3', '886', '1971', '.450', '620', '1196', '.518', '1.25', '.517']
['Auburn', '34', '79.4', '27.4', '60.9', '930', '2071', '.449', '549', '1059', '.518', '1.30', '.541']
['Lafayette', '30', '73.6', '26.7', '59.5', '802', '1786', '.449', '522', '1050', '.497', '1.24', '.527']
['Eastern Michigan', '32', '68.8', '25.6', '57.0', '818', '1823', '.449', '631', '1189', '.531', '1.21', '.500']
['Marist', '31', '67.3', '23.8', '53.1', '739', '1647', '.449', '494', '972', '.508', '1.27', '.523']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Houston', '33', '76.2', '26.8', '59.6', '883', '1968', '.449', '578', '1130', '.512', '1.28', '.526']
['Grambling', '33', '71.3', '24.3', '54.3', '803', '1791', '.448', '587', '1250', '.470', '1.31', '.509']
['Davidson', '33', '70.5', '24.9', '55.6', '822', '1834', '.448', '522', '978', '.534', '1.27', '.530']
['Tulsa', '32', '71.8', '24.3', '54.1', '776', '1732', '.448', '554', '1080', '.513', '1.33', '.512']
['North Florida', '33', '75.3', '27.3', '61.0', '902', '2014', '.448', '594', '1117', '.532', '1.23', '.524']
['Sacramento State', '31', '70.9', '26.0', '58.1', '806', '1800', '.448', '631', '1273', '.496', '1.22', '.496']
['Washington State', '32', '74.8', '26.0', '58.2', '833', '1861', '.448', '532', '1033', '.515', '1.29', '.528']
['Rider', '31', '76.8', '27.3', '61.1', '847', '1893', '.447', '625', '1242', '.503', '1.26', '.506']
['Arizona State', '32', '77.8', '26.6', '59.5', '851', '1903', '.447', '619', '1223', '.506', '1.31', '.508']
['Idaho State', '30', '73.3', '26.0', '58.1', '779', '1742', '.447', '505', '990', '.510', '1.26', '.526']
------------
['The Citadel', '30', '85.1', '30.0', '67.0', '899', '2011', '.447', '529', '935', '.566', '1.27', '.539']
['Arkansas', '32', '75.5', '26.4', '59.1', '845', '1892', '.447', '604', '1188', '.508', '1.28', '.510']
['Western Kentucky', '34', '71.4', '25.1', '56.2', '853', '1910', '.447', '654', '1302', '.502', '1.27', '.499']
['Purdue', '32', '76.2', '26.8', '60.0', '857', '1920', '.446', '546', '1066', '.512', '1.27', '.527']
['UConn', '33', '73.8', '26.5', '59.4', '874', '1959', '.446', '622', '1227', '.507', '1.24', '.510']
['UT Martin', '31', '76.0', '27.5', '61.8', '854', '1915', '.446', '604', '1189', '.508', '1.23', '.511']
['New Orleans', '32', '71.7', '25.9', '58.1', '829', '1859', '.446', '647', '1326', '.488', '1.23', '.495']
['NJIT', '33', '70.0', '24.0', '53.9', '792', '1778', '.445', '563', '1114', '.505', '1.30', '.510']
['Louisiana', '32', '81.6', '28.2', '63.2', '901', '2023', '.445', '618', '1203', '.514', '1.29', '.515']
['Oklahoma', '32', '71.2', '25.9', '58.3', '830', '1864', '.445', '618', '1245', '.496', '1.22', '.502']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Butler', '32', '71.8', '26.1', '58.7', '835', '1877', '.445', '555', '1078', '.515', '1.22', '.519']
['George Mason', '33', '70.1', '25.0', '56.2', '825', '1855', '.445', '615', '1218', '.505', '1.25', '.501']
['Santa Clara', '31', '68.2', '23.7', '53.3', '735', '1653', '.445', '496', '990', '.501', '1.28', '.517']
['Georgetown', '32', '79.9', '27.2', '61.1', '869', '1955', '.445', '605', '1219', '.496', '1.31', '.512']
['Texas State', '33', '72.4', '25.6', '57.7', '846', '1905', '.444', '608', '1182', '.514', '1.25', '.507']
['Southern Utah', '32', '75.8', '26.2', '59.0', '838', '1887', '.444', '578', '1135', '.509', '1.29', '.513']
['High Point', '31', '68.2', '24.6', '55.5', '763', '1719', '.444', '583', '1136', '.513', '1.23', '.496']
['Pepperdine', '34', '75.6', '25.4', '57.3', '865', '1949', '.444', '552', '1130', '.488', '1.32', '.524']
['UC Riverside', '33', '65.2', '24.0', '54.2', '792', '1787', '.443', '513', '1044', '.491', '1.20', '.521']
['UNC Wilmington', '33', '76.2', '26.7', '60.2', '880', '1986', '.443', '620', '1242', '.499', '1.27', '.509']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Florida State', '34', '74.9', '25.9', '58.4', '879', '1984', '.443', '624', '1224', '.510', '1.28', '.507']
['Chattanooga', '32', '70.9', '26.0', '58.8', '833', '1881', '.443', '543', '1086', '.500', '1.21', '.520']
['Bowling Green', '34', '78.5', '27.8', '62.8', '945', '2134', '.443', '673', '1372', '.491', '1.25', '.507']
['Brown', '30', '73.6', '25.3', '57.2', '759', '1715', '.443', '528', '1030', '.513', '1.29', '.510']
['VCU', '32', '71.4', '25.0', '56.6', '801', '1811', '.442', '572', '1066', '.537', '1.26', '.506']
['SMU', '32', '72.0', '26.0', '58.9', '833', '1884', '.442', '570', '1112', '.513', '1.22', '.512']
['James Madison', '33', '70.4', '24.9', '56.3', '821', '1859', '.442', '578', '1189', '.486', '1.25', '.507']
['Marshall', '33', '80.2', '28.0', '63.5', '925', '2096', '.441', '593', '1141', '.520', '1.26', '.521']
['UMass', '32', '70.7', '25.3', '57.2', '808', '1831', '.441', '552', '1099', '.502', '1.24', '.511']
['Florida International', '32', '82.6', '29.2', '66.1', '933', '2115', '.441', '664', '1237', '.537', '1.25', '.505']
['PER GAME', 'TOTAL', nan, 'ADJ', nan, nan, nan, nan, nan, nan, nan, nan, nan]
['TEAM', 'GP', 'PPG', 'FGM', 'FGA', 'FGM', 'FGA', 'FG%', '2PM', '2PA', '2P%', 'PPS', 'FG%']
['Idaho', '32', '67.9', '24.3', '55.1', '778', '1764', '.441', '527', '1086', '.485', '1.23', '.512']
['SE Louisiana', '33', '67.4', '23.2', '52.6', '765', '1735', '.441', '530', '1039', '.510', '1.28', '.509']
['Sam Houston State', '32', '75.2', '26.8', '60.8', '858', '1946', '.441', '556', '1127', '.493', '1.24', '.518']
['Alabama', '33', '71.8', '25.1', '56.8', '827', '1876', '.441', '594', '1188', '.500', '1.26', '.503']
['Georgia', '32', '71.1', '24.3', '55.0', '776', '1761', '.441', '566', '1108', '.511', '1.29', '.500']
['Seton Hall', '33', '73.9', '26.2', '59.4', '863', '1959', '.441', '632', '1245', '.508', '1.25', '.499']
['Georgia Tech', '32', '65.3', '23.6', '53.6', '755', '1714', '.440', '579', '1141', '.507', '1.22', '.492']
['Indiana State', '31', '69.2', '24.4', '55.5', '757', '1719', '.440', '579', '1228', '.471', '1.25', '.492']
['Baylor', '32', '71.7', '25.5', '57.9', '816', '1854', '.440', '562', '1106', '.508', '1.24', '.509']
['SE Missouri St', '31', '71.5', '25.7', '58.4', '796', '1809', '.440', '530', '1090', '.486', '1.22', '.514']
------------
['Western Illinois', '31', '70.9', '26.4', '60.0', '818', '1860', '.440', '577', '1234', '.468', '1.18', '.505']
['Southern', '32', '64.9', '23.5', '53.4', '752', '1710', '.440', '572', '1166', '.491', '1.21', '.492']
['Villanova', '34', '74.5', '24.7', '56.2', '840', '1912', '.439', '479', '889', '.539', '1.32', '.534']
['UC Davis', '31', '65.7', '23.7', '54.0', '735', '1673', '.439', '532', '1054', '.505', '1.22', '.500']
['Stephen F. Austin', '30', '70.2', '24.8', '56.5', '745', '1696', '.439', '544', '1108', '.491', '1.24', '.499']
['Norfolk State', '34', '73.9', '25.0', '56.9', '849', '1935', '.439', '586', '1222', '.480', '1.30', '.507']
['Seattle', '32', '73.5', '25.8', '58.9', '827', '1885', '.439', '595', '1261', '.472', '1.25', '.500']

In [10]:
stats_wrap= {'TEAM':TEAM, 'GP':GP, 'PPG':PPG, 'FGM-game':FGMg, 'FGA-game':FGAg, 'FGM-total':FGMt, 'FGA-total':FGAt,
     'FG%':FGperc, '2PM':twoPM, '2PA': twoPA, '2P%':twoPperc, 'PPS':PPS, 'FG%.adj':FGpercA}
#stats=pd.DataFrame(stats_wrap)     
stats = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in stats_wrap.items() ]))

In [11]:
stats = stats.dropna()
stats
offence = stats

In [12]:
stats = stats.drop(stats[stats.TEAM == 'TEAM'].index )
print(stats.count())
stats.head()

TEAM         353
GP           353
PPG          353
FGM-game     353
FGA-game     353
FGM-total    353
FGA-total    353
FG%          353
2PM          353
2PA          353
2P%          353
PPS          353
FG%.adj      353
dtype: int64

,TEAM,GP,PPG,FGM-game,FGA-game,FGM-total,FGA-total,FG%,2PM,2PA,2P%,PPS,FG%.adj
0,Gonzaga,33,88.8,32.2,60.5,1062,1997,.532,805,1293,.623,1.47,.596
1,South Dakota State,32,84.9,29.9,59.4,957,1901,.503,639,1125,.568,1.43,.587
2,Dayton,32,72.9,27.3,54.2,872,1734,.503,672,1135,.592,1.35,.561
3,Belmont,31,87.4,31.8,63.7,987,1976,.499,662,1105,.599,1.37,.582
4,Georgia Southern,33,82.6,30.7,61.5,1012,2028,.499,808,1396,.579,1.34,.549

In [13]:
print(len(stats))

353

In [14]:
#stats.to_csv("team_offence_stats.csv",encoding='utf-8')

In [15]:
urlc = 'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/assists'
defence = pd.read_html(urlc)
defence[0]

      0                       1   2    3     4    5     6       7
0    RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
1     1                 Belmont  31  616  19.9  360  11.6    1.71
2     2          Michigan State  33  630  19.1  428  13.0    1.47
3     3          North Carolina  33  628  19.0  430  13.0    1.46
4     4               Tennessee  33  609  18.5  363  11.0    1.68
5     5                 Gonzaga  33  601  18.2  342  10.4    1.76
6     6            Murray State  31  561  18.1  374  12.1    1.50
7     7                 Oakland  33  580  17.6  425  12.9    1.36
8     8                Lipscomb  32  555  17.3  425  13.3    1.31
9   NaN                    Yale  28  484  17.3  375  13.4    1.29
10   10              Utah State  34  585  17.2  426  12.5    1.37
11   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
12   11       Northern Kentucky  34  581  17.1  423  12.4    1.37
13  NaN          William & Mary  31  529  17.1  391  12.6    1.35
14   13           Southern Miss  32  540  16.9  338  10.6    1.60
15  NaN                 Buffalo  34  573  16.9  399  11.7    1.44
16   15              Georgetown  32  532  16.6  435  13.6    1.22
17  NaN       Sam Houston State  32  531  16.6  399  12.5    1.33
18   17                  Dayton  32  529  16.5  403  12.6    1.31
19   18                  Toledo  32  526  16.4  394  12.3    1.34
20   19                     USC  33  536  16.2  392  11.9    1.37
21  NaN                     TCU  33  535  16.2  454  13.8    1.18
22   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
23   21                Arkansas  32  513  16.0  425  13.3    1.21
24  NaN               Creighton  32  512  16.0  420  13.1    1.22
25   23                  Furman  32  510  15.9  401  12.5    1.27
26  NaN                    Duke  34  541  15.9  446  13.1    1.21
27  NaN       Purdue Fort Wayne  33  525  15.9  395  12.0    1.33
28   26                Columbia  28  443  15.8  364  13.0    1.22
29  NaN           North Florida  33  520  15.8  535  16.2    0.97
30   28                Richmond  33  519  15.7  336  10.2    1.54
31  NaN                Bucknell  33  519  15.7  408  12.4    1.27
32  NaN                    Iowa  33  519  15.7  399  12.1    1.30
33   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
34  NaN            Presbyterian  32  502  15.7  316   9.9    1.59
35   32       Abilene Christian  33  516  15.6  397  12.0    1.30
36  NaN            UMass Lowell  32  500  15.6  446  13.9    1.12
37  NaN                 Colgate  34  531  15.6  443  13.0    1.20
38  NaN                    Army  32  499  15.6  376  11.8    1.33
39   36    East Tennessee State  33  513  15.5  470  14.2    1.09
40  NaN                 Memphis  34  527  15.5  512  15.1    1.03
41  NaN              Holy Cross  33  511  15.5  350  10.6    1.46
42   39  North Carolina Central  33  509  15.4  506  15.3    1.01
43  NaN                 Hawai'i  31  478  15.4  368  11.9    1.30

In [16]:
count2= 41
d_hold = []
for x in range(0,8):
    urle= f'http://www.espn.com/mens-college-basketball/statistics/team/_/stat/assists/sort/avgAssists/count/{count2}'
    test = pd.read_html(urle)
    d_hold.append(test)
   # hold = test[1:0]
    count2 = count2 + 40

In [17]:
d_hold

[[      0                      1   2    3     4    5     6       7
  0    RK                   TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1    41            The Citadel  30  462  15.4  386  12.9    1.20
  2   NaN                  Drake  33  508  15.4  436  13.2    1.17
  3   NaN                Wofford  33  507  15.4  359  10.9    1.41
  4    44          Montana State  32  491  15.3  394  12.3    1.25
  5   NaN          Virginia Tech  32  491  15.3  364  11.4    1.35
  6   NaN               Winthrop  30  460  15.3  456  15.2    1.01
  7   NaN              Louisiana  32  488  15.3  423  13.2    1.15
  8    48             Iowa State  34  518  15.2  378  11.1    1.37
  9   NaN         Texas Southern  34  517  15.2  520  15.3    0.99
  10  NaN                 Lehigh  31  471  15.2  419  13.5    1.12
  11   RK                   TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  NaN               NC State  33  501  15.2  419  12.7    1.20
  13   52                    BYU  32  482  15.1  355  11.1    1.36
  14  NaN                Houston  33  497  15.1  379  11.5    1.31
  15   54         UNC Wilmington  33  495  15.0  435  13.2    1.14
  16  NaN           Oregon State  31  465  15.0  384  12.4    1.21
  17  NaN           Pennsylvania  31  465  15.0  394  12.7    1.18
  18  NaN                 Nevada  33  494  15.0  338  10.2    1.46
  19  NaN        Houston Baptist  30  449  15.0  442  14.7    1.02
  20   59                    UIC  32  478  14.9  456  14.3    1.05
  21  NaN       Washington State  32  478  14.9  439  13.7    1.09
  22   RK                   TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  NaN         Savannah State  31  462  14.9  478  15.4    0.97
  24  NaN              Minnesota  34  506  14.9  408  12.0    1.24
  25  NaN         CSU Northridge  33  491  14.9  403  12.2    1.22
  26  NaN     South Dakota State  32  476  14.9  379  11.8    1.26
  27  NaN                Liberty  34  505  14.9  373  11.0    1.35
  28   66            New Orleans  32  475  14.8  499  15.6    0.95
  29  NaN        Cleveland State  31  460  14.8  411  13.3    1.12
  30  NaN              Green Bay  33  489  14.8  422  12.8    1.16
  31  NaN                 Xavier  33  488  14.8  443  13.4    1.10
  32  NaN       Eastern Kentucky  31  458  14.8  447  14.4    1.02
  33   RK                   TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN         Colorado State  32  472  14.8  372  11.6    1.27
  35   72                  Maine  32  471  14.7  459  14.3    1.03
  36  NaN           Sacred Heart  32  471  14.7  465  14.5    1.01
  37  NaN                Montana  34  500  14.7  408  12.0    1.23
  38  NaN       New Mexico State  34  500  14.7  403  11.9    1.24
  39  NaN               Campbell  32  469  14.7  325  10.2    1.44
  40  NaN  Florida International  32  469  14.7  447  14.0    1.05
  41   78                  UMass  32  468  14.6  444  13.9    1.05
  42  NaN                   Elon  32  468  14.6  414  12.9    1.13
  43  NaN                 DePaul  30  438  14.6  413  13.8    1.06],
 [      0                    1   2    3     4    5     6       7
  0    RK                 TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1    81          Texas State  33  481  14.6  440  13.3    1.09
  2   NaN                Lamar  33  481  14.6  473  14.3    1.02
  3   NaN             Canisius  32  466  14.6  412  12.9    1.13
  4    84                 Ohio  31  450  14.5  447  14.4    1.01
  5   NaN                Rider  31  450  14.5  415  13.4    1.08
  6   NaN             Virginia  32  464  14.5  289   9.0    1.61
  7   NaN               Drexel  32  464  14.5  375  11.7    1.24
  8   NaN         Gardner-Webb  34  492  14.5  391  11.5    1.26
  9   NaN               Temple  32  463  14.5  356  11.1    1.30
  10   90               Purdue  32  462  14.4  341  10.7    1.35
  11   RK                 TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  NaN             Davidson  33  476  14.4  363  11.0    1.31
  13  NaN               Auburn  34  490  14.4  417  12.3    1.18
  14  NaN             Marshall  33  475  14.4  414  12.5    1.15
  15  NaN           Providence  33  475  14.4  436  13.2    1.09
  16  NaN                IUPUI  32  460  14.4  444  13.9    1.04
  17  NaN            San Diego  35  503  14.4  443  12.7    1.14
  18  NaN              Cornell  30  431  14.4  393  13.1    1.10
  19  NaN    Mississippi State  33  474  14.4  439  13.3    1.08
  20   99             Ole Miss  32  459  14.3  405  12.7    1.13
  21  NaN  Charleston Southern  32  459  14.3  414  12.9    1.11
  22   RK                 TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  NaN         Northeastern  33  473  14.3  371  11.2    1.27
  24  NaN      San Diego State  34  487  14.3  424  12.5    1.15
  25  NaN      Bethune-Cookman  31  444  14.3  501  16.2    0.89
  26  NaN               Tulane  31  444  14.3  467  15.1    0.95
  27  NaN                 UCLA  33  472  14.3  466  14.1    1.01
  28  NaN          Little Rock  31  443  14.3  504  16.3    0.88
  29  NaN         Fresno State  32  457  14.3  400  12.5    1.14
  30  NaN         Jacksonville  32  457  14.3  462  14.4    0.99
  31  NaN            Villanova  34  485  14.3  383  11.3    1.27
  32  110           Ohio State  33  470  14.2  414  12.5    1.14
  33   RK                 TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN            UT Martin  31  441  14.2  418  13.5    1.06
  35  NaN            Dartmouth  30  426  14.2  363  12.1    1.17
  36  NaN                 Utah  31  440  14.2  405  13.1    1.09
  37  NaN        San Francisco  31  439  14.2  321  10.4    1.37
  38  NaN              Radford  33  467  14.2  358  10.8    1.30
  39  116   North Carolina A&T  32  452  14.1  418  13.1    1.08
  40  NaN  Fairleigh Dickinson  33  466  14.1  441  13.4    1.06
  41  NaN         Grand Canyon  33  466  14.1  397  12.0    1.17
  42  NaN         Northwestern  32  451  14.1  348  10.9    1.30
  43  NaN           Pepperdine  34  479  14.1  432  12.7    1.11],
 [      0                   1   2    3     4    5     6       7
  0    RK                TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1   121             Hampton  31  435  14.0  334  10.8    1.30
  2   NaN  Florida Gulf Coast  32  449  14.0  481  15.0    0.93
  3   NaN          Texas Tech  32  449  14.0  396  12.4    1.13
  4   NaN    Youngstown State  32  449  14.0  422  13.2    1.06
  5   NaN    Central Arkansas  33  463  14.0  477  14.5    0.97
  6   NaN          St. John's  33  463  14.0  341  10.3    1.36
  7   NaN        Wright State  34  477  14.0  393  11.6    1.21
  8   NaN             Hofstra  34  476  14.0  333   9.8    1.43
  9   NaN            Hartford  33  462  14.0  401  12.2    1.15
  10  NaN         Loyola (MD)  32  448  14.0  444  13.9    1.01
  11   RK                TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  NaN           UL Monroe  33  461  14.0  373  11.3    1.24
  13  NaN             Samford  33  461  14.0  463  14.0    1.00
  14  NaN           Lafayette  30  419  14.0  402  13.4    1.04
  15  134          New Mexico  32  446  13.9  455  14.2    0.98
  16  NaN    Sacramento State  31  431  13.9  404  13.0    1.07
  17  NaN            Michigan  33  458  13.9  294   8.9    1.56
  18  NaN                 VCU  32  444  13.9  446  13.9    1.00
  19  NaN       South Alabama  34  471  13.9  456  13.4    1.03
  20  139            Kentucky  33  457  13.8  417  12.6    1.10
  21  NaN              Baylor  32  443  13.8  424  13.3    1.04
  22   RK                TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  NaN            Duquesne  32  442  13.8  451  14.1    0.98
  24  NaN                 VMI  32  442  13.8  390  12.2    1.13
  25  NaN            Nicholls  30  414  13.8  364  12.1    1.14
  26  NaN         Utah Valley  33  455  13.8  447  13.5    1.02
  27  NaN       South Florida  32  441  13.8  513  16.0    0.86
  28  NaN                 SMU  32  441  13.8  351  11.0    1.26
  29  NaN         Austin Peay  33  454  13.8  392  11.9    1.16
  30  NaN        Kansas State  33  454  13.8  372  11.3    1.22
  31  NaN       Robert Morris  33  454  13.8  487  14.8    0.93
  32  150  Eastern Washington  34  467  13.7  401  11.8    1.16
  33   RK                TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN        SE Louisiana  33  452  13.7  536  16.2    0.84
  35  NaN       Wichita State  33  452  13.7  392  11.9    1.15
  36  NaN   Southern Illinois  32  438  13.7  447  14.0    0.98
  37  NaN  Jacksonville State  33  451  13.7  440  13.3    1.03
  38  NaN          Cincinnati  33  451  13.7  347  10.5    1.30
  39  156         San José St  31  423  13.6  485  15.6    0.87
  40  NaN              Howard  33  450  13.6  417  12.6    1.08
  41  NaN           Marquette  33  450  13.6  458  13.9    0.98
  42  NaN       Arizona State  32  435  13.6  434  13.6    1.00
  43  NaN      Loyola-Chicago  33  448  13.6  393  11.9    1.14],
 [      0                       1   2    3     4    5     6       7
  0    RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1   161            Oral Roberts  32  434  13.6  446  13.9    0.97
  2   NaN               Air Force  32  434  13.6  423  13.2    1.03
  3   NaN        Eastern Illinois  32  434  13.6  427  13.3    1.02
  4   NaN          Portland State  32  434  13.6  449  14.0    0.97
  5   NaN  South Carolina Upstate  32  434  13.6  440  13.8    0.99
  6   166       Boston University  33  447  13.5  425  12.9    1.05
  7   NaN              Seton Hall  33  447  13.5  408  12.4    1.10
  8   NaN            Georgia Tech  32  433  13.5  459  14.3    0.94
  9   NaN                Illinois  33  446  13.5  434  13.2    1.03
  10  NaN                 Stetson  31  418  13.5  396  12.8    1.06
  11   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  NaN        UC Santa Barbara  32  431  13.5  355  11.1    1.21
  13  172                   Tulsa  32  430  13.4  404  12.6    1.06
  14  NaN            LIU Brooklyn  32  430  13.4  471  14.7    0.91
  15  NaN                 McNeese  30  403  13.4  432  14.4    0.93
  16  NaN             Santa Clara  31  416  13.4  433  14.0    0.96
  17  NaN                American  30  402  13.4  386  12.9    1.04
  18  NaN                Colorado  33  442  13.4  443  13.4    1.00
  19  NaN              Louisville  33  442  13.4  406  12.3    1.09
  20  NaN           West Virginia  34  454  13.4  535  15.7    0.85
  21  180                  Oregon  35  467  13.3  413  11.8    1.13
  22   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  NaN          Louisiana Tech  33  440  13.3  385  11.7    1.14
  24  NaN          Morehead State  33  440  13.3  402  12.2    1.09
  25  NaN                  Kansas  34  453  13.3  455  13.4    1.00
  26  NaN        Loyola Marymount  31  413  13.3  395  12.7    1.05
  27  NaN                 Indiana  32  426  13.3  404  12.6    1.05
  28  NaN                    UMBC  34  452  13.3  426  12.5    1.06
  29  NaN                    Rice  32  425  13.3  438  13.7    0.97
  30  NaN            North Dakota  30  398  13.3  380  12.7    1.05
  31  NaN                     UCF  31  411  13.3  366  11.8    1.12
  32  190               UC Irvine  35  463  13.2  411  11.7    1.13
  33   RK                    TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN                 Georgia  32  423  13.2  506  15.8    0.84
  35  NaN                Maryland  32  423  13.2  420  13.1    1.01
  36  NaN            Texas A&M-CC  32  423  13.2  456  14.3    0.93
  37  NaN          Oklahoma State  32  422  13.2  389  12.2    1.08
  38  NaN       Northern Colorado  32  422  13.2  397  12.4    1.06
  39  NaN        Central Michigan  34  448  13.2  412  12.1    1.09
  40  NaN    UT Rio Grande Valley  35  461  13.2  449  12.8    1.03
  41  NaN                    Iona  32  421  13.2  396  12.4    1.06
  42  199                     LSU  32  420  13.1  423  13.2    0.99
  43  NaN                    UTSA  32  420  13.1  402  12.6    1.04],
 [      0                  1   2    3     4    5     6       7
  0    RK               TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1   201   Coastal Carolina  31  406  13.1  442  14.3    0.92
  2   NaN               Troy  30  392  13.1  408  13.6    0.96
  3   NaN        Chattanooga  32  418  13.1  408  12.8    1.02
  4   NaN             Butler  32  418  13.1  350  10.9    1.19
  5   NaN         Kent State  32  418  13.1  365  11.4    1.15
  6   NaN         Valparaiso  33  431  13.1  436  13.2    0.99
  7   207         High Point  31  404  13.0  406  13.1    1.00
  8   NaN        Saint Louis  34  441  13.0  439  12.9    1.00
  9   NaN        North Texas  33  428  13.0  443  13.4    0.97
  10  NaN     SE Missouri St  31  402  13.0  447  14.4    0.90
  11   RK               TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  211          Fairfield  31  401  12.9  436  14.1    0.92
  13  NaN               UNLV  31  401  12.9  400  12.9    1.00
  14  NaN         Ball State  33  426  12.9  480  14.5    0.89
  15  NaN              Miami  32  413  12.9  372  11.6    1.11
  16  NaN     South Carolina  32  413  12.9  433  13.5    0.95
  17  NaN      Florida State  34  438  12.9  459  13.5    0.95
  18  NaN      Norfolk State  34  438  12.9  499  14.7    0.88
  19  NaN       UC Riverside  33  425  12.9  424  12.8    1.00
  20  NaN           Delaware  33  425  12.9  378  11.5    1.12
  21  NaN               Navy  31  399  12.9  437  14.1    0.91
  22   RK               TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  221              Brown  30  385  12.8  427  14.2    0.90
  24  NaN     UNC Greensboro  34  436  12.8  401  11.8    1.09
  25  NaN         Notre Dame  33  423  12.8  305   9.2    1.39
  26  NaN         Quinnipiac  30  384  12.8  408  13.6    0.94
  27  NaN       Old Dominion  34  435  12.8  399  11.7    1.09
  28  NaN              UConn  33  422  12.8  427  12.9    0.99
  29  NaN       UT Arlington  32  409  12.8  453  14.2    0.90
  30  NaN              Texas  32  409  12.8  351  11.0    1.17
  31  NaN              Omaha  32  409  12.8  304   9.5    1.35
  32  NaN        Idaho State  30  383  12.8  360  12.0    1.06
  33   RK               TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN          Wisconsin  33  421  12.8  315   9.5    1.34
  35  NaN     Illinois State  33  421  12.8  417  12.6    1.01
  36  233       South Dakota  30  382  12.7  324  10.8    1.18
  37  NaN   Florida Atlantic  32  407  12.7  471  14.7    0.86
  38  NaN           Oklahoma  32  406  12.7  390  12.2    1.04
  39  NaN  Appalachian State  32  406  12.7  418  13.1    0.97
  40  NaN             Mercer  31  393  12.7  407  13.1    0.97
  41  NaN           Nebraska  34  431  12.7  329   9.7    1.31
  42  239           Stanford  31  392  12.6  465  15.0    0.84
  43  NaN      Southern Utah  32  404  12.6  438  13.7    0.92],
 [      0                 1   2    3     4    5     6       7
  0    RK              TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1   241      Alcorn State  31  391  12.6  492  15.9    0.79
  2   NaN          La Salle  31  391  12.6  434  14.0    0.90
  3   NaN  Prairie View A&M  34  428  12.6  433  12.7    0.99
  4   NaN           Rutgers  31  390  12.6  407  13.1    0.96
  5   NaN             Siena  33  415  12.6  322   9.8    1.29
  6   NaN            Albany  32  402  12.6  453  14.2    0.89
  7   NaN     Georgia State  32  402  12.6  374  11.7    1.07
  8   NaN  St. Francis (PA)  32  402  12.6  392  12.3    1.03
  9   NaN     Bowling Green  34  427  12.6  411  12.1    1.04
  10  250    Tennessee Tech  31  389  12.5  517  16.7    0.75
  11   RK              TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  NaN             Idaho  32  399  12.5  431  13.5    0.93
  13  252           Arizona  32  398  12.4  370  11.6    1.08
  14  NaN   St. Bonaventure  33  408  12.4  408  12.4    1.00
  15  254    Boston College  31  382  12.3  377  12.2    1.01
  16  NaN     East Carolina  31  382  12.3  414  13.4    0.92
  17  NaN  SIU-Edwardsville  31  382  12.3  437  14.1    0.87
  18  NaN           Clemson  32  394  12.3  427  13.3    0.92
  19  NaN        Evansville  32  394  12.3  415  13.0    0.95
  20  NaN  Northern Arizona  31  381  12.3  372  12.0    1.02
  21  NaN  Western Kentucky  34  417  12.3  466  13.7    0.89
  22   RK              TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  261           Florida  34  416  12.2  400  11.8    1.04
  24  NaN     James Madison  33  403  12.2  420  12.7    0.96
  25  NaN  Georgia Southern  33  403  12.2  452  13.7    0.89
  26  NaN           Harvard  28  341  12.2  449  16.0    0.76
  27  NaN            Marist  31  377  12.2  387  12.5    0.97
  28  NaN        Penn State  32  389  12.2  399  12.5    0.97
  29  NaN  Western Carolina  32  389  12.2  576  18.0    0.68
  30  NaN      Rhode Island  33  401  12.2  405  12.3    0.99
  31  NaN           Alabama  33  401  12.2  449  13.6    0.89
  32  270          UC Davis  31  375  12.1  412  13.3    0.91
  33   RK              TEAM  GP  AST   APG   TO  TOPG  AST/TO
  34  NaN             Akron  33  399  12.1  387  11.7    1.03
  35  NaN      George Mason  33  399  12.1  428  13.0    0.93
  36  NaN           Bradley  34  411  12.1  430  12.6    0.96
  37  NaN       Boise State  33  398  12.1  378  11.5    1.05
  38  NaN         Grambling  33  398  12.1  520  15.8    0.77
  39  276       Alabama A&M  32  385  12.0  492  15.4    0.78
  40  NaN     CSU Fullerton  33  397  12.0  437  13.2    0.91
  41  NaN    Saint Joseph's  33  397  12.0  305   9.2    1.30
  42  NaN          Syracuse  33  396  12.0  411  12.5    0.96
  43  280      Morgan State  30  358  11.9  402  13.4    0.89],
 [      0                         1   2    3     4    5     6       7
  0    RK                      TEAM  GP  AST   APG   TO  TOPG  AST/TO
  1   281                   Vermont  33  390  11.8  361  10.9    1.08
  2   NaN                    Denver  30  354  11.8  408  13.6    0.87
  3   NaN                 Texas A&M  32  376  11.8  444  13.9    0.85
  4   NaN             Chicago State  32  376  11.8  512  16.0    0.73
  5   285          Long Beach State  34  399  11.7  479  14.1    0.83
  6   NaN                Pittsburgh  33  387  11.7  448  13.6    0.86
  7   NaN                Charleston  33  387  11.7  347  10.5    1.12
  8   NaN                    Wagner  30  351  11.7  414  13.8    0.85
  9   NaN          Western Michigan  32  374  11.7  490  15.3    0.76
  10  NaN                Washington  34  397  11.7  453  13.3    0.88
  11   RK                      TEAM  GP  AST   APG   TO  TOPG  AST/TO
  12  291                   Seattle  32  372  11.6  390  12.2    0.95
  13  NaN                  Southern  32  372  11.6  510  15.9    0.73
  14  NaN                       UAB  34  395  11.6  388  11.4    1.02
  15  NaN        North Dakota State  33  383  11.6  349  10.6    1.10
  16  NaN               Weber State  33  383  11.6  386  11.7    0.99
  17  NaN         Stephen F. Austin  30  348  11.6  440  14.7    0.79
  18  NaN                Vanderbilt  32  371  11.6  454  14.2    0.82
  19  NaN           CSU Bakersfield  31  359  11.6  410  13.2    0.88
  20  299          Eastern Michigan  32  369  11.5  442  13.8    0.83
  21  NaN                  Portland  32  369  11.5  425  13.3    0.87
  22   RK                      TEAM  GP  AST   APG   TO  TOPG  AST/TO
  23  NaN         St. Francis (BKN)  32  369  11.5  401  12.5    0.92
  24  NaN                 Milwaukee  31  356  11.5  381  12.3    0.93
  25  NaN               Florida A&M  31  355  11.5  498  16.1    0.71
  26  304            Mt. St. Mary's  31  354  11.4  410  13.2    0.86
  27  NaN            Incarnate Word  31  354  11.4  502  16.2    0.71
  28  NaN       Arkansas-Pine Bluff  32  365  11.4  478  14.9    0.76
  29  NaN           Tennessee State  30  342  11.4  497  16.6    0.69
  30  NaN       Central Connecticut  31  353  11.4  427  13.8    0.83
  31  NaN                  Longwood  32  364  11.4  459  14.3    0.79
  32  NaN         George Washington  33  375  11.4  412  12.5    0.91
  33   RK                      TEAM  GP  AST   APG   TO  TOPG  AST/TO

In [18]:
defence_one = defence[0].values.tolist()
defence_one
team = []
gp = []
ast = []
apg = []
to = []
topg = []
ast_to = []
for d_one in defence_one:
    print(d_one)
    team.append(d_one[1])
    gp.append(d_one[2])
    ast.append(d_one[3])
    apg.append(d_one[4])
    to.append(d_one[5])
    topg.append(d_one[6])
    ast_to.append(d_one[7])

['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['1', 'Belmont', '31', '616', '19.9', '360', '11.6', '1.71']
['2', 'Michigan State', '33', '630', '19.1', '428', '13.0', '1.47']
['3', 'North Carolina', '33', '628', '19.0', '430', '13.0', '1.46']
['4', 'Tennessee', '33', '609', '18.5', '363', '11.0', '1.68']
['5', 'Gonzaga', '33', '601', '18.2', '342', '10.4', '1.76']
['6', 'Murray State', '31', '561', '18.1', '374', '12.1', '1.50']
['7', 'Oakland', '33', '580', '17.6', '425', '12.9', '1.36']
['8', 'Lipscomb', '32', '555', '17.3', '425', '13.3', '1.31']
[nan, 'Yale', '28', '484', '17.3', '375', '13.4', '1.29']
['10', 'Utah State', '34', '585', '17.2', '426', '12.5', '1.37']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['11', 'Northern Kentucky', '34', '581', '17.1', '423', '12.4', '1.37']
[nan, 'William & Mary', '31', '529', '17.1', '391', '12.6', '1.35']
['13', 'Southern Miss', '32', '540', '16.9', '338', '10.6', '1.60']
[nan, 'Buffalo', '34', '573', '16.9', '399', '11.7', '1.44']
['15', 'Georgetown', '32', '532', '16.6', '435', '13.6', '1.22']
[nan, 'Sam Houston State', '32', '531', '16.6', '399', '12.5', '1.33']
['17', 'Dayton', '32', '529', '16.5', '403', '12.6', '1.31']
['18', 'Toledo', '32', '526', '16.4', '394', '12.3', '1.34']
['19', 'USC', '33', '536', '16.2', '392', '11.9', '1.37']
[nan, 'TCU', '33', '535', '16.2', '454', '13.8', '1.18']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['21', 'Arkansas', '32', '513', '16.0', '425', '13.3', '1.21']
[nan, 'Creighton', '32', '512', '16.0', '420', '13.1', '1.22']
['23', 'Furman', '32', '510', '15.9', '401', '12.5', '1.27']
[nan, 'Duke', '34', '541', '15.9', '446', '13.1', '1.21']
[nan, 'Purdue Fort Wayne', '33', '525', '15.9', '395', '12.0', '1.33']
['26', 'Columbia', '28', '443', '15.8', '364', '13.0', '1.22']
[nan, 'North Florida', '33', '520', '15.8', '535', '16.2', '0.97']
['28', 'Richmond', '33', '519', '15.7', '336', '10.2', '1.54']
[nan, 'Bucknell', '33', '519', '15.7', '408', '12.4', '1.27']
[nan, 'Iowa', '33', '519', '15.7', '399', '12.1', '1.30']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Presbyterian', '32', '502', '15.7', '316', '9.9', '1.59']
['32', 'Abilene Christian', '33', '516', '15.6', '397', '12.0', '1.30']
[nan, 'UMass Lowell', '32', '500', '15.6', '446', '13.9', '1.12']
[nan, 'Colgate', '34', '531', '15.6', '443', '13.0', '1.20']
[nan, 'Army', '32', '499', '15.6', '376', '11.8', '1.33']
['36', 'East Tennessee State', '33', '513', '15.5', '470', '14.2', '1.09']
[nan, 'Memphis', '34', '527', '15.5', '512', '15.1', '1.03']
[nan, 'Holy Cross', '33', '511', '15.5', '350', '10.6', '1.46']
['39', 'North Carolina Central', '33', '509', '15.4', '506', '15.3', '1.01']
[nan, "Hawai'i", '31', '478', '15.4', '368', '11.9', '1.30']

In [19]:
#team = []
#gp = []
#ast = []
#apg = []
#to = []
#topg = []
#ast_to = []


for dfs in d_hold:
    for stat in dfs:
        orange = stat.values.tolist()
        for stats in orange:
            print(stats)
            team.append(stats[1])
            gp.append(stats[2])
            ast.append(stats[3])
            apg.append(stats[4])
            to.append(stats[5])
            topg.append(stats[6])
            ast_to.append(stats[7])

['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['41', 'The Citadel', '30', '462', '15.4', '386', '12.9', '1.20']
[nan, 'Drake', '33', '508', '15.4', '436', '13.2', '1.17']
[nan, 'Wofford', '33', '507', '15.4', '359', '10.9', '1.41']
['44', 'Montana State', '32', '491', '15.3', '394', '12.3', '1.25']
[nan, 'Virginia Tech', '32', '491', '15.3', '364', '11.4', '1.35']
[nan, 'Winthrop', '30', '460', '15.3', '456', '15.2', '1.01']
[nan, 'Louisiana', '32', '488', '15.3', '423', '13.2', '1.15']
['48', 'Iowa State', '34', '518', '15.2', '378', '11.1', '1.37']
[nan, 'Texas Southern', '34', '517', '15.2', '520', '15.3', '0.99']
[nan, 'Lehigh', '31', '471', '15.2', '419', '13.5', '1.12']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'NC State', '33', '501', '15.2', '419', '12.7', '1.20']
['52', 'BYU', '32', '482', '15.1', '355', '11.1', '1.36']
[nan, 'Houston', '33', '497', '15.1', '379', '11.5', '1.31']
['54', 'UNC Wilmington', '33', '495', '15.0', '435', '13.2', '1.14']
[nan, 'Oregon State', '31', '465', '15.0', '384', '12.4', '1.21']
[nan, 'Pennsylvania', '31', '465', '15.0', '394', '12.7', '1.18']
[nan, 'Nevada', '33', '494', '15.0', '338', '10.2', '1.46']
[nan, 'Houston Baptist', '30', '449', '15.0', '442', '14.7', '1.02']
['59', 'UIC', '32', '478', '14.9', '456', '14.3', '1.05']
[nan, 'Washington State', '32', '478', '14.9', '439', '13.7', '1.09']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Savannah State', '31', '462', '14.9', '478', '15.4', '0.97']
[nan, 'Minnesota', '34', '506', '14.9', '408', '12.0', '1.24']
[nan, 'CSU Northridge', '33', '491', '14.9', '403', '12.2', '1.22']
[nan, 'South Dakota State', '32', '476', '14.9', '379', '11.8', '1.26']
[nan, 'Liberty', '34', '505', '14.9', '373', '11.0', '1.35']
['66', 'New Orleans', '32', '475', '14.8', '499', '15.6', '0.95']
[nan, 'Cleveland State', '31', '460', '14.8', '411', '13.3', '1.12']
[nan, 'Green Bay', '33', '489', '14.8', '422', '12.8', '1.16']
[nan, 'Xavier', '33', '488', '14.8', '443', '13.4', '1.10']
[nan, 'Eastern Kentucky', '31', '458', '14.8', '447', '14.4', '1.02']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Colorado State', '32', '472', '14.8', '372', '11.6', '1.27']
['72', 'Maine', '32', '471', '14.7', '459', '14.3', '1.03']
[nan, 'Sacred Heart', '32', '471', '14.7', '465', '14.5', '1.01']
[nan, 'Montana', '34', '500', '14.7', '408', '12.0', '1.23']
[nan, 'New Mexico State', '34', '500', '14.7', '403', '11.9', '1.24']
[nan, 'Campbell', '32', '469', '14.7', '325', '10.2', '1.44']
[nan, 'Florida International', '32', '469', '14.7', '447', '14.0', '1.05']
['78', 'UMass', '32', '468', '14.6', '444', '13.9', '1.05']
[nan, 'Elon', '32', '468', '14.6', '414', '12.9', '1.13']
[nan, 'DePaul', '30', '438', '14.6', '413', '13.8', '1.06']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['81', 'Texas State', '33', '481', '14.6', '440', '13.3', '1.09']
[nan, 'Lamar', '33', '481', '14.6', '473', '14.3', '1.02']
[nan, 'Canisius', '32', '466', '14.6', '412', '12.9', '1.13']
['84', 'Ohio', '31', '450', '14.5', '447', '14.4', '1.01']
[nan, 'Rider', '31', '450', '14.5', '415', '13.4', '1.08']
[nan, 'Virginia', '32', '464', '14.5', '289', '9.0', '1.61']
[nan, 'Drexel', '32', '464', '14.5', '375', '11.7', '1.24']
[nan, 'Gardner-Webb', '34', '492', '14.5', '391', '11.5', '1.26']
[nan, 'Temple', '32', '463', '14.5', '356', '11.1', '1.30']
['90', 'Purdue', '32', '462', '14.4', '341', '10.7', '1.35']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Davidson', '33', '476', '14.4', '363', '11.0', '1.31']
[nan, 'Auburn', '34', '490', '14.4', '417', '12.3', '1.18']
[nan, 'Marshall', '33', '475', '14.4', '414', '12.5', '1.15']
[nan, 'Providence', '33', '475', '14.4', '436', '13.2', '1.09']
[nan, 'IUPUI', '32', '460', '14.4', '444', '13.9', '1.04']
[nan, 'San Diego', '35', '503', '14.4', '443', '12.7', '1.14']
[nan, 'Cornell', '30', '431', '14.4', '393', '13.1', '1.10']
[nan, 'Mississippi State', '33', '474', '14.4', '439', '13.3', '1.08']
['99', 'Ole Miss', '32', '459', '14.3', '405', '12.7', '1.13']
[nan, 'Charleston Southern', '32', '459', '14.3', '414', '12.9', '1.11']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Northeastern', '33', '473', '14.3', '371', '11.2', '1.27']
[nan, 'San Diego State', '34', '487', '14.3', '424', '12.5', '1.15']
[nan, 'Bethune-Cookman', '31', '444', '14.3', '501', '16.2', '0.89']
[nan, 'Tulane', '31', '444', '14.3', '467', '15.1', '0.95']
[nan, 'UCLA', '33', '472', '14.3', '466', '14.1', '1.01']
[nan, 'Little Rock', '31', '443', '14.3', '504', '16.3', '0.88']
[nan, 'Fresno State', '32', '457', '14.3', '400', '12.5', '1.14']
[nan, 'Jacksonville', '32', '457', '14.3', '462', '14.4', '0.99']
[nan, 'Villanova', '34', '485', '14.3', '383', '11.3', '1.27']
['110', 'Ohio State', '33', '470', '14.2', '414', '12.5', '1.14']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'UT Martin', '31', '441', '14.2', '418', '13.5', '1.06']
[nan, 'Dartmouth', '30', '426', '14.2', '363', '12.1', '1.17']
[nan, 'Utah', '31', '440', '14.2', '405', '13.1', '1.09']
[nan, 'San Francisco', '31', '439', '14.2', '321', '10.4', '1.37']
[nan, 'Radford', '33', '467', '14.2', '358', '10.8', '1.30']
['116', 'North Carolina A&T', '32', '452', '14.1', '418', '13.1', '1.08']
[nan, 'Fairleigh Dickinson', '33', '466', '14.1', '441', '13.4', '1.06']
[nan, 'Grand Canyon', '33', '466', '14.1', '397', '12.0', '1.17']
[nan, 'Northwestern', '32', '451', '14.1', '348', '10.9', '1.30']
[nan, 'Pepperdine', '34', '479', '14.1', '432', '12.7', '1.11']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['121', 'Hampton', '31', '435', '14.0', '334', '10.8', '1.30']
[nan, 'Florida Gulf Coast', '32', '449', '14.0', '481', '15.0', '0.93']
[nan, 'Texas Tech', '32', '449', '14.0', '396', '12.4', '1.13']
[nan, 'Youngstown State', '32', '449', '14.0', '422', '13.2', '1.06']
[nan, 'Central Arkansas', '33', '463', '14.0', '477', '14.5', '0.97']
[nan, "St. John's", '33', '463', '14.0', '341', '10.3', '1.36']
[nan, 'Wright State', '34', '477', '14.0', '393', '11.6', '1.21']
[nan, 'Hofstra', '34', '476', '14.0', '333', '9.8', '1.43']
[nan, 'Hartford', '33', '462', '14.0', '401', '12.2', '1.15']
[nan, 'Loyola (MD)', '32', '448', '14.0', '444', '13.9', '1.01']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'UL Monroe', '33', '461', '14.0', '373', '11.3', '1.24']
[nan, 'Samford', '33', '461', '14.0', '463', '14.0', '1.00']
[nan, 'Lafayette', '30', '419', '14.0', '402', '13.4', '1.04']
['134', 'New Mexico', '32', '446', '13.9', '455', '14.2', '0.98']
[nan, 'Sacramento State', '31', '431', '13.9', '404', '13.0', '1.07']
[nan, 'Michigan', '33', '458', '13.9', '294', '8.9', '1.56']
[nan, 'VCU', '32', '444', '13.9', '446', '13.9', '1.00']
[nan, 'South Alabama', '34', '471', '13.9', '456', '13.4', '1.03']
['139', 'Kentucky', '33', '457', '13.8', '417', '12.6', '1.10']
[nan, 'Baylor', '32', '443', '13.8', '424', '13.3', '1.04']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Duquesne', '32', '442', '13.8', '451', '14.1', '0.98']
[nan, 'VMI', '32', '442', '13.8', '390', '12.2', '1.13']
[nan, 'Nicholls', '30', '414', '13.8', '364', '12.1', '1.14']
[nan, 'Utah Valley', '33', '455', '13.8', '447', '13.5', '1.02']
[nan, 'South Florida', '32', '441', '13.8', '513', '16.0', '0.86']
[nan, 'SMU', '32', '441', '13.8', '351', '11.0', '1.26']
[nan, 'Austin Peay', '33', '454', '13.8', '392', '11.9', '1.16']
[nan, 'Kansas State', '33', '454', '13.8', '372', '11.3', '1.22']
[nan, 'Robert Morris', '33', '454', '13.8', '487', '14.8', '0.93']
['150', 'Eastern Washington', '34', '467', '13.7', '401', '11.8', '1.16']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'SE Louisiana', '33', '452', '13.7', '536', '16.2', '0.84']
[nan, 'Wichita State', '33', '452', '13.7', '392', '11.9', '1.15']
[nan, 'Southern Illinois', '32', '438', '13.7', '447', '14.0', '0.98']
[nan, 'Jacksonville State', '33', '451', '13.7', '440', '13.3', '1.03']
[nan, 'Cincinnati', '33', '451', '13.7', '347', '10.5', '1.30']
['156', 'San José St', '31', '423', '13.6', '485', '15.6', '0.87']
[nan, 'Howard', '33', '450', '13.6', '417', '12.6', '1.08']
[nan, 'Marquette', '33', '450', '13.6', '458', '13.9', '0.98']
[nan, 'Arizona State', '32', '435', '13.6', '434', '13.6', '1.00']
[nan, 'Loyola-Chicago', '33', '448', '13.6', '393', '11.9', '1.14']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['161', 'Oral Roberts', '32', '434', '13.6', '446', '13.9', '0.97']
[nan, 'Air Force', '32', '434', '13.6', '423', '13.2', '1.03']
[nan, 'Eastern Illinois', '32', '434', '13.6', '427', '13.3', '1.02']
[nan, 'Portland State', '32', '434', '13.6', '449', '14.0', '0.97']
[nan, 'South Carolina Upstate', '32', '434', '13.6', '440', '13.8', '0.99']
['166', 'Boston University', '33', '447', '13.5', '425', '12.9', '1.05']
[nan, 'Seton Hall', '33', '447', '13.5', '408', '12.4', '1.10']
[nan, 'Georgia Tech', '32', '433', '13.5', '459', '14.3', '0.94']
[nan, 'Illinois', '33', '446', '13.5', '434', '13.2', '1.03']
[nan, 'Stetson', '31', '418', '13.5', '396', '12.8', '1.06']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'UC Santa Barbara', '32', '431', '13.5', '355', '11.1', '1.21']
['172', 'Tulsa', '32', '430', '13.4', '404', '12.6', '1.06']
[nan, 'LIU Brooklyn', '32', '430', '13.4', '471', '14.7', '0.91']
[nan, 'McNeese', '30', '403', '13.4', '432', '14.4', '0.93']
[nan, 'Santa Clara', '31', '416', '13.4', '433', '14.0', '0.96']
[nan, 'American', '30', '402', '13.4', '386', '12.9', '1.04']
[nan, 'Colorado', '33', '442', '13.4', '443', '13.4', '1.00']
[nan, 'Louisville', '33', '442', '13.4', '406', '12.3', '1.09']
[nan, 'West Virginia', '34', '454', '13.4', '535', '15.7', '0.85']
['180', 'Oregon', '35', '467', '13.3', '413', '11.8', '1.13']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Louisiana Tech', '33', '440', '13.3', '385', '11.7', '1.14']
[nan, 'Morehead State', '33', '440', '13.3', '402', '12.2', '1.09']
[nan, 'Kansas', '34', '453', '13.3', '455', '13.4', '1.00']
[nan, 'Loyola Marymount', '31', '413', '13.3', '395', '12.7', '1.05']
[nan, 'Indiana', '32', '426', '13.3', '404', '12.6', '1.05']
[nan, 'UMBC', '34', '452', '13.3', '426', '12.5', '1.06']
[nan, 'Rice', '32', '425', '13.3', '438', '13.7', '0.97']
[nan, 'North Dakota', '30', '398', '13.3', '380', '12.7', '1.05']
[nan, 'UCF', '31', '411', '13.3', '366', '11.8', '1.12']
['190', 'UC Irvine', '35', '463', '13.2', '411', '11.7', '1.13']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Georgia', '32', '423', '13.2', '506', '15.8', '0.84']
[nan, 'Maryland', '32', '423', '13.2', '420', '13.1', '1.01']
[nan, 'Texas A&M-CC', '32', '423', '13.2', '456', '14.3', '0.93']
[nan, 'Oklahoma State', '32', '422', '13.2', '389', '12.2', '1.08']
[nan, 'Northern Colorado', '32', '422', '13.2', '397', '12.4', '1.06']
[nan, 'Central Michigan', '34', '448', '13.2', '412', '12.1', '1.09']
[nan, 'UT Rio Grande Valley', '35', '461', '13.2', '449', '12.8', '1.03']
[nan, 'Iona', '32', '421', '13.2', '396', '12.4', '1.06']
['199', 'LSU', '32', '420', '13.1', '423', '13.2', '0.99']
[nan, 'UTSA', '32', '420', '13.1', '402', '12.6', '1.04']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['201', 'Coastal Carolina', '31', '406', '13.1', '442', '14.3', '0.92']
[nan, 'Troy', '30', '392', '13.1', '408', '13.6', '0.96']
[nan, 'Chattanooga', '32', '418', '13.1', '408', '12.8', '1.02']
[nan, 'Butler', '32', '418', '13.1', '350', '10.9', '1.19']
[nan, 'Kent State', '32', '418', '13.1', '365', '11.4', '1.15']
[nan, 'Valparaiso', '33', '431', '13.1', '436', '13.2', '0.99']
['207', 'High Point', '31', '404', '13.0', '406', '13.1', '1.00']
[nan, 'Saint Louis', '34', '441', '13.0', '439', '12.9', '1.00']
[nan, 'North Texas', '33', '428', '13.0', '443', '13.4', '0.97']
[nan, 'SE Missouri St', '31', '402', '13.0', '447', '14.4', '0.90']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['211', 'Fairfield', '31', '401', '12.9', '436', '14.1', '0.92']
[nan, 'UNLV', '31', '401', '12.9', '400', '12.9', '1.00']
[nan, 'Ball State', '33', '426', '12.9', '480', '14.5', '0.89']
[nan, 'Miami', '32', '413', '12.9', '372', '11.6', '1.11']
[nan, 'South Carolina', '32', '413', '12.9', '433', '13.5', '0.95']
[nan, 'Florida State', '34', '438', '12.9', '459', '13.5', '0.95']
[nan, 'Norfolk State', '34', '438', '12.9', '499', '14.7', '0.88']
[nan, 'UC Riverside', '33', '425', '12.9', '424', '12.8', '1.00']
[nan, 'Delaware', '33', '425', '12.9', '378', '11.5', '1.12']
[nan, 'Navy', '31', '399', '12.9', '437', '14.1', '0.91']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['221', 'Brown', '30', '385', '12.8', '427', '14.2', '0.90']
[nan, 'UNC Greensboro', '34', '436', '12.8', '401', '11.8', '1.09']
[nan, 'Notre Dame', '33', '423', '12.8', '305', '9.2', '1.39']
[nan, 'Quinnipiac', '30', '384', '12.8', '408', '13.6', '0.94']
[nan, 'Old Dominion', '34', '435', '12.8', '399', '11.7', '1.09']
[nan, 'UConn', '33', '422', '12.8', '427', '12.9', '0.99']
[nan, 'UT Arlington', '32', '409', '12.8', '453', '14.2', '0.90']
[nan, 'Texas', '32', '409', '12.8', '351', '11.0', '1.17']
[nan, 'Omaha', '32', '409', '12.8', '304', '9.5', '1.35']
[nan, 'Idaho State', '30', '383', '12.8', '360', '12.0', '1.06']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Wisconsin', '33', '421', '12.8', '315', '9.5', '1.34']
[nan, 'Illinois State', '33', '421', '12.8', '417', '12.6', '1.01']
['233', 'South Dakota', '30', '382', '12.7', '324', '10.8', '1.18']
[nan, 'Florida Atlantic', '32', '407', '12.7', '471', '14.7', '0.86']
[nan, 'Oklahoma', '32', '406', '12.7', '390', '12.2', '1.04']
[nan, 'Appalachian State', '32', '406', '12.7', '418', '13.1', '0.97']
[nan, 'Mercer', '31', '393', '12.7', '407', '13.1', '0.97']
[nan, 'Nebraska', '34', '431', '12.7', '329', '9.7', '1.31']
['239', 'Stanford', '31', '392', '12.6', '465', '15.0', '0.84']
[nan, 'Southern Utah', '32', '404', '12.6', '438', '13.7', '0.92']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['241', 'Alcorn State', '31', '391', '12.6', '492', '15.9', '0.79']
[nan, 'La Salle', '31', '391', '12.6', '434', '14.0', '0.90']
[nan, 'Prairie View A&M', '34', '428', '12.6', '433', '12.7', '0.99']
[nan, 'Rutgers', '31', '390', '12.6', '407', '13.1', '0.96']
[nan, 'Siena', '33', '415', '12.6', '322', '9.8', '1.29']
[nan, 'Albany', '32', '402', '12.6', '453', '14.2', '0.89']
[nan, 'Georgia State', '32', '402', '12.6', '374', '11.7', '1.07']
[nan, 'St. Francis (PA)', '32', '402', '12.6', '392', '12.3', '1.03']
[nan, 'Bowling Green', '34', '427', '12.6', '411', '12.1', '1.04']
['250', 'Tennessee Tech', '31', '389', '12.5', '517', '16.7', '0.75']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Idaho', '32', '399', '12.5', '431', '13.5', '0.93']
['252', 'Arizona', '32', '398', '12.4', '370', '11.6', '1.08']
[nan, 'St. Bonaventure', '33', '408', '12.4', '408', '12.4', '1.00']
['254', 'Boston College', '31', '382', '12.3', '377', '12.2', '1.01']
[nan, 'East Carolina', '31', '382', '12.3', '414', '13.4', '0.92']
[nan, 'SIU-Edwardsville', '31', '382', '12.3', '437', '14.1', '0.87']
[nan, 'Clemson', '32', '394', '12.3', '427', '13.3', '0.92']
[nan, 'Evansville', '32', '394', '12.3', '415', '13.0', '0.95']
[nan, 'Northern Arizona', '31', '381', '12.3', '372', '12.0', '1.02']
[nan, 'Western Kentucky', '34', '417', '12.3', '466', '13.7', '0.89']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['261', 'Florida', '34', '416', '12.2', '400', '11.8', '1.04']
[nan, 'James Madison', '33', '403', '12.2', '420', '12.7', '0.96']
[nan, 'Georgia Southern', '33', '403', '12.2', '452', '13.7', '0.89']
[nan, 'Harvard', '28', '341', '12.2', '449', '16.0', '0.76']
[nan, 'Marist', '31', '377', '12.2', '387', '12.5', '0.97']
[nan, 'Penn State', '32', '389', '12.2', '399', '12.5', '0.97']
[nan, 'Western Carolina', '32', '389', '12.2', '576', '18.0', '0.68']
[nan, 'Rhode Island', '33', '401', '12.2', '405', '12.3', '0.99']
[nan, 'Alabama', '33', '401', '12.2', '449', '13.6', '0.89']
['270', 'UC Davis', '31', '375', '12.1', '412', '13.3', '0.91']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'Akron', '33', '399', '12.1', '387', '11.7', '1.03']
[nan, 'George Mason', '33', '399', '12.1', '428', '13.0', '0.93']
[nan, 'Bradley', '34', '411', '12.1', '430', '12.6', '0.96']
[nan, 'Boise State', '33', '398', '12.1', '378', '11.5', '1.05']
[nan, 'Grambling', '33', '398', '12.1', '520', '15.8', '0.77']
['276', 'Alabama A&M', '32', '385', '12.0', '492', '15.4', '0.78']
[nan, 'CSU Fullerton', '33', '397', '12.0', '437', '13.2', '0.91']
[nan, "Saint Joseph's", '33', '397', '12.0', '305', '9.2', '1.30']
[nan, 'Syracuse', '33', '396', '12.0', '411', '12.5', '0.96']
['280', 'Morgan State', '30', '358', '11.9', '402', '13.4', '0.89']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['281', 'Vermont', '33', '390', '11.8', '361', '10.9', '1.08']
[nan, 'Denver', '30', '354', '11.8', '408', '13.6', '0.87']
[nan, 'Texas A&M', '32', '376', '11.8', '444', '13.9', '0.85']
[nan, 'Chicago State', '32', '376', '11.8', '512', '16.0', '0.73']
['285', 'Long Beach State', '34', '399', '11.7', '479', '14.1', '0.83']
[nan, 'Pittsburgh', '33', '387', '11.7', '448', '13.6', '0.86']
[nan, 'Charleston', '33', '387', '11.7', '347', '10.5', '1.12']
[nan, 'Wagner', '30', '351', '11.7', '414', '13.8', '0.85']
[nan, 'Western Michigan', '32', '374', '11.7', '490', '15.3', '0.76']
[nan, 'Washington', '34', '397', '11.7', '453', '13.3', '0.88']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['291', 'Seattle', '32', '372', '11.6', '390', '12.2', '0.95']
[nan, 'Southern', '32', '372', '11.6', '510', '15.9', '0.73']
[nan, 'UAB', '34', '395', '11.6', '388', '11.4', '1.02']
[nan, 'North Dakota State', '33', '383', '11.6', '349', '10.6', '1.10']
[nan, 'Weber State', '33', '383', '11.6', '386', '11.7', '0.99']
[nan, 'Stephen F. Austin', '30', '348', '11.6', '440', '14.7', '0.79']
[nan, 'Vanderbilt', '32', '371', '11.6', '454', '14.2', '0.82']
[nan, 'CSU Bakersfield', '31', '359', '11.6', '410', '13.2', '0.88']
['299', 'Eastern Michigan', '32', '369', '11.5', '442', '13.8', '0.83']
[nan, 'Portland', '32', '369', '11.5', '425', '13.3', '0.87']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'St. Francis (BKN)', '32', '369', '11.5', '401', '12.5', '0.92']
[nan, 'Milwaukee', '31', '356', '11.5', '381', '12.3', '0.93']
[nan, 'Florida A&M', '31', '355', '11.5', '498', '16.1', '0.71']
['304', "Mt. St. Mary's", '31', '354', '11.4', '410', '13.2', '0.86']
[nan, 'Incarnate Word', '31', '354', '11.4', '502', '16.2', '0.71']
[nan, 'Arkansas-Pine Bluff', '32', '365', '11.4', '478', '14.9', '0.76']
[nan, 'Tennessee State', '30', '342', '11.4', '497', '16.6', '0.69']
[nan, 'Central Connecticut', '31', '353', '11.4', '427', '13.8', '0.83']
[nan, 'Longwood', '32', '364', '11.4', '459', '14.3', '0.79']
[nan, 'George Washington', '33', '375', '11.4', '412', '12.5', '0.91']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
[nan, 'South Carolina State', '34', '386', '11.4', '494', '14.5', '0.78']
['312', 'Arkansas State', '32', '363', '11.3', '448', '14.0', '0.81']
[nan, 'Kennesaw State', '32', '362', '11.3', '437', '13.7', '0.83']
[nan, 'California Baptist', '30', '339', '11.3', '364', '12.1', '0.93']
[nan, 'Maryland-Eastern Shore', '32', '361', '11.3', '431', '13.5', '0.84']
[nan, 'Mississippi Valley State', '32', '361', '11.3', '415', '13.0', '0.87']
[nan, 'Fordham', '32', '360', '11.3', '345', '10.8', '1.04']
[nan, 'Manhattan', '32', '360', '11.3', '485', '15.2', '0.74']
['319', 'Jackson State', '32', '359', '11.2', '437', '13.7', '0.82']
[nan, 'New Hampshire', '29', '325', '11.2', '356', '12.3', '0.91']
['RK', 'TEAM', 'GP', 'AST', 'APG', 'TO', 'TOPG', 'AST/TO']
['321', 'Stony Brook', '32', '358', '11.2', '458', '14.3', '0.78']

In [20]:
defence_dict = {'team':team,'games_played':gp,"assist":ast,'assist_per_game':apg,'turnover':to
                ,'turnover_per_game':topg,'assist/to':ast_to}
defence_df = pd.DataFrame(defence_dict)
defence_df.head()

,team,games_played,assist,assist_per_game,turnover,turnover_per_game,assist/to
0,TEAM,GP,AST,APG,TO,TOPG,AST/TO
1,Belmont,31,616,19.9,360,11.6,1.71
2,Michigan State,33,630,19.1,428,13.0,1.47
3,North Carolina,33,628,19.0,430,13.0,1.46
4,Tennessee,33,609,18.5,363,11.0,1.68

In [21]:
defence_df.count()

team                 389
games_played         389
assist               389
assist_per_game      389
turnover             389
turnover_per_game    389
assist/to            389
dtype: int64

In [22]:
defence_df = defence_df.drop(defence_df[defence_df.team == 'TEAM'].index )
print(defence_df.count())
defence_df.head()

team                 353
games_played         353
assist               353
assist_per_game      353
turnover             353
turnover_per_game    353
assist/to            353
dtype: int64

,team,games_played,assist,assist_per_game,turnover,turnover_per_game,assist/to
1,Belmont,31,616,19.9,360,11.6,1.71
2,Michigan State,33,630,19.1,428,13.0,1.47
3,North Carolina,33,628,19.0,430,13.0,1.46
4,Tennessee,33,609,18.5,363,11.0,1.68
5,Gonzaga,33,601,18.2,342,10.4,1.76

In [23]:
print(defence_df.nunique())

team                 353
games_played           8
assist               186
assist_per_game       79
turnover             155
turnover_per_game     71
assist/to             84
dtype: int64

In [24]:
#defence_df.to_csv("team_defence_stats.csv",encoding='utf-8')

In [25]:
combined_dfs = offence.merge(defence_df,left_on='TEAM',right_on='team')
combined_dfs.head()

,TEAM,GP,PPG,FGM-game,FGA-game,FGM-total,FGA-total,FG%,2PM,2PA,2P%,PPS,FG%.adj,team,games_played,assist,assist_per_game,turnover,turnover_per_game,assist/to
0,Gonzaga,33,88.8,32.2,60.5,1062,1997,.532,805,1293,.623,1.47,.596,Gonzaga,33,601,18.2,342,10.4,1.76
1,South Dakota State,32,84.9,29.9,59.4,957,1901,.503,639,1125,.568,1.43,.587,South Dakota State,32,476,14.9,379,11.8,1.26
2,Dayton,32,72.9,27.3,54.2,872,1734,.503,672,1135,.592,1.35,.561,Dayton,32,529,16.5,403,12.6,1.31
3,Belmont,31,87.4,31.8,63.7,987,1976,.499,662,1105,.599,1.37,.582,Belmont,31,616,19.9,360,11.6,1.71
4,Georgia Southern,33,82.6,30.7,61.5,1012,2028,.499,808,1396,.579,1.34,.549,Georgia Southern,33,403,12.2,452,13.7,0.89

In [28]:
combined_dfs.describe()

,TEAM,GP,PPG,FGM-game,FGA-game,FGM-total,FGA-total,FG%,2PM,2PA,2P%,PPS,FG%.adj,team,games_played,assist,assist_per_game,turnover,turnover_per_game,assist/to
count,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353,353
unique,353,8,165,90,116,192,243,104,194,249,123,39,120,353,8,186,79,155,71,84
top,Iowa State,32,71.8,25.8,58.7,862,1834,.459,618,1130,.491,1.24,.509,Iowa State,32,354,14.0,408,13.3,0.97
freq,1,123,7,13,9,5,6,11,6,4,8,26,10,1,123,6,13,9,13,12

In [29]:
#combined_dfs.to_csv('combined_stats.csv',encoding='utf-8')